/* Navbar - OVERRIDE BOOTSTRAP */
	.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(51, 51, 51, 0.04);
    background-image: none;
    border: 0px;
    border-bottom: 1px solid rgba(51,51,51,0.15); /* Just bottom border */
  }
/* Day Select */
	/* Table Styling */
		/* Center Text */
    	.table td, .table th { text-align: center; }
		/* Color Codes */
	 		td.success { background-color: rgb(223, 240, 216); }
    	td.warning { background-color: rgb(252, 248, 227); }
    	td.error   { background-color: rgb(242, 222, 222); }
    	td.info    { background-color: rgb(217, 237, 247); }
  	/* Default Background colors */
  		td { background-color: white; }
    	th { background-color: rgba(51, 51, 51, 0.04); }
    /* <, > navigation  styling */
    	.table-nav-day { 
      	color: #0088cc;
        font-size: 2.5em; 
        vertical-align: middle !important; 
        border: 0 !important;
        background-color: white; 
      }
    /* Fix Border of said table nav */
    	#week-view.table-bordered { border: 0; }
    	.table-bordered { border-radius: 0; }
     	#week-view th { border-top: 1px solid #dddddd; }
     	#week-view td { border-bottom: 1px solid #dddddd; }
			.last-day { border-right: 1px solid #dddddd; }
			/* OVERRIDE BOOTSTRAP */
				.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
					-webkit-border-top-left-radius: 0px;
					border-top-left-radius: 0px;
					-moz-border-radius-topleft: 0px;
				}
			  .table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    		  -webkit-border-bottom-left-radius: 0px;
      		border-bottom-left-radius: 0px;
      		-moz-border-radius-bottomleft: 0px;
    		}
    		.table-bordered thead:last-child tr:last-child > th:last-child, .table-bordered tbody:last-child tr:last-child > td:last-child, .table-bordered tbody:last-child tr:last-child > th:last-child, .table-bordered tfoot:last-child tr:last-child > td:last-child, .table-bordered tfoot:last-child tr:last-child > th:last-child {
      		-webkit-border-bottom-right-radius: 0px;
        	border-bottom-right-radius: 0px;
      		-moz-border-radius-bottomright: 0px;
    		}
		/* Hover/Focus Effect */00
			.hoverable > .table-nav-day:hover, .table-nav-day:focus { color: #005580;  background-color: white;}
    	.hoverable *:hover { color: white; background-color: #005580;}
	/* current date styling */
		#selected_date {
			text-align: center;
  		margin: 0px 0px;
		}
  /* Next/Previous day Arrows */
  	#prev-day:hover, #prev-day:focus, #next-day:hover, #next-day:focus {
    	color: rgb(0, 85, 128);
      text-decoration: none;
    }
    #prev-day, #next-day {
      color: rgb(0, 136, 204);
      padding:3px;
      font-size: 1.5em;
      vertical-align: middle;
    }
/* Left Sidebar - Employee list */
	#employee-nav {
		margin-top: -40px;
	}	
/* Location/Region Divs - Week and Region Tabs*/
	/* General Styling of Wrappers */
 		#day > div {
	    border: 1px solid rgba(51, 51, 51, 0.15);
    	float: left;
    	margin-bottom: 10px;
    	min-height: 125px;
		}
		#day > div:hover, #day > div:focus {
	    border: 1px solid rgb(0, 85, 128);
	  }
	  #day > div > h4 {
    	margin-left: 1em;
  	}
  /* Settings - Gear Wheel */
  	div.settings {
      background-image: url("../img/settings-normal.png");
      width: 19px; height: 20px;
      float: right;
      margin-right: 1em;
    }
    .settings:hover, .settings:focus {
      background-image: url("../img/settings-hover.png");
      width: 19px; height: 20px;
    }
 	/* Button @ bottom  - E.G: Add New Region */
    #day-footer  {
	     border: 0 !important;
    }
    #day-footer > a {
    	margin-left: 31.5%;
    }
    /* OVERRIDE BOOTSTRAP: btn-primary */
      .btn-primary {
      	background-color: #0088cc; 
      	background-image: none; 
      	border-radius: 1.5px; 
      }
    	.btn-primary:hover, .btn-primary:focus { 
    		background-color: #005580; 
    	}
	/* Dropped Employees */
		.droppable {
      border: 2px dashed rgba(51, 51, 51, 0.15);
      background-color: rgba(51, 51, 51, 0.04);
      padding: 8px 0;
      margin: 10px 10px 0px;
      list-style-type: none;
    }
    .droppable {

    }
    .droppable> li > span {
      float: left;
      margin-left: 1em;
      margin-right: -1em;
      vertical-align: middle;
      cursor: pointer;
      font-weight: bold;
      color: rgb(0, 136, 204);
      font-size: 1.25em;
      margin-top: -2px;
    }
    .droppable > li > span:hover, .droppable > li > span:focus {
      color: rgb(0, 85, 128);
      cursor: pointer;
    }
    /* Name of Div Region */
    	.droppable > div { 
	      font-size: 1.1em;
      	font-weight: bold;
      	text-align: center;
      	color: rgba(51, 51, 51, 0.65);  
      	margin-bottom: 5px; 
    	}
/* Employee Name/Container Styling */
	/* Wrapper */
  	#employee-list {
	    max-height: 450px;
    	overflow: auto;
  	}
  /* Search Bar */
    input#search-bar {
    	-webkit-border-radius: 0px;
    	-moz-border-radius: 0px;
    	border-radius: 0px;
    	width: 158px;
   	}
  /* Horizontal Grey seperating header and list */
  	.horizontal-grey-line {
    	background-color: rgba(51, 51, 51, 0.3);
    	height: 1px;
    	margin: 8px 0;
  	}
  /* Employees themselves */
		.employees {
	    min-width: 150px;
	  }
  	.employees > h4 > a:hover, .employees > h4 > a:focus {
	    text-decoration: none;
	  }
    .employees > h4 > a { font-size: 1.3em; }
  	.employees > ul {
    	list-style-type: none;
    	margin-left: 0;
  	}
  	.employees > ul > li, .droppable > li {
      background-color: rgb(12, 40, 73);
      color: rgb(237, 239, 242);
      font-size: 1.2em;
      padding: 8px 0;
      text-align: center;
      min-width: 150px;
      margin-bottom: 4px;
    }
    .droppable > li {
    	width: 97.5%;
			margin: 0px auto 4px auto;
    }
/* Modal Styling */
.modal {
  border-radius: 0;
}
/* OVERRIDES WHICH ARE RESPONSIVE */  
@media (min-width: 768px) and (max-width: 979px) {
	/* Day Region */
		/* Button @ Bottom */
			#day-footer > a{ margin-left: 21.5%;}
	/* Employee Container */
		/* Search Bar */
			input#search-bar {
        width: 138px;
      }

}
